openapi: 3.0.3
info:
  title: QuickBooks Online API Collections
  description: |-
    The QuickBooks Online Accounting API is a RESTful API that is used to access QuickBooks companies.

    Docs Ref - https://developer.intuit.com/docs/api/accounting
  version: 1.0.0
  contact: { }
servers:
  - url: https://quickbooks.api.intuit.com
    description: Production Server
  - url: https://sandbox-quickbooks.api.intuit.com
    description: Sandbox Server
paths:
  /v3/company/{companyid}/account:
    post:
      tags:
        - Account
      summary: Account-Create
      description: Create a new Account
      operationId: accountCreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                AccountSubType:
                  type: string
                  example: AccountsReceivable
                AccountType:
                  type: string
                  example: Accounts Receivable
                Active:
                  type: boolean
                  example: true
                Classification:
                  type: string
                  example: Asset
                CurrencyRef:
                  type: object
                  properties:
                    name:
                      type: string
                      example: United States Dollar
                    value:
                      type: string
                      example: USD
                CurrentBalance:
                  type: number
                  example: 0
                CurrentBalanceWithSubAccounts:
                  type: number
                  example: 0
                FullyQualifiedName:
                  type: string
                  example: AR3-Updated
                Id:
                  type: string
                  example: '94'
                Name:
                  type: string
                  example: AR3-Updated111
                SubAccount:
                  type: boolean
                  example: false
                SyncToken:
                  type: string
                  example: '3'
                domain:
                  type: string
                  example: QBO
                sparse:
                  type: boolean
                  example: false
            examples:
              Account-Create:
                value:
                  AccountType: Accounts Receivable
                  Name: AR4
              Account-Update:
                value:
                  AccountSubType: AccountsReceivable
                  AccountType: Accounts Receivable
                  Active: true
                  Classification: Asset
                  CurrencyRef:
                    name: United States Dollar
                    value: USD
                  CurrentBalance: 0
                  CurrentBalanceWithSubAccounts: 0
                  FullyQualifiedName: AR3-Updated
                  Id: '94'
                  Name: AR3-Updated111
                  SubAccount: false
                  SyncToken: '3'
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/account/{id}:
    get:
      tags:
        - Account
      summary: Account-ReadById
      description: Get the Account which has accountId as 1
      operationId: accountReadbyid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/query:
    post:
      tags:
        - VendorCredit
      summary: Account-ReadAll
      description: |-
        Get all customer records using generic 'Query' endpoint.
        Method - POST
      operationId: accountReadall
      parameters:
        - name: query
          in: query
          schema:
            type: string
            example: select * from exchangerate where sourcecurrencycode in ('EUR', 'INR') and asofdate='2017-07-07'
      requestBody:
        content:
          text/plain:
            examples:
              Account-ReadAll:
                value: |
                  Select * from Account STARTPOSITION 1 MAXRESULTS 5
              Attachable-ReadAll:
                value: Select * from Attachable
              Bill-GetAll:
                value: Select * from Bill startposition 1 maxresults 5
              BillPayment-ReadAll:
                value: Select * from BillPayment startposition 1 maxresults 5
              Budget-ReadAll:
                value: Select * from Budget startposition 1 maxresults 5
              Class-ReadAll:
                value: Select * from Class startposition 1 maxresults 5
              CompanyInfo-Read:
                value: Select * from CompanyInfo
              CreditMemo-ReadAll:
                value: Select * from CreditMemo startposition 1 maxresults 5
              Customer-ReadAll:
                value: Select * from Customer startposition 1 maxresults 5
              Department-ReadAll:
                value: Select * from Department startposition 1 maxresults 5
              Deposit-ReadAll:
                value: select * from Deposit startposition 1 maxresults 5
              Employee-ReadAll:
                value: select * from employee startposition 1 maxresults 5
              Estimate-ReadAll:
                value: select * from estimate startposition 1 maxresults 5
              ExchangeRate - Query:
                value: select * from exchangerate where sourcecurrencycode in ('USD', 'INR') and asofdate='2016-07-07'
              Invoice-ReadAll:
                value: select * from invoice startposition 1 maxresults 5
              Item-ReadAll:
                value: select * from item startposition 1 maxresults 5
              JournalEntry-ReadAll:
                value: select * from journalentry startposition 1 maxresults 5
              Payment-ReadAll:
                value: select * from payment startposition 1 maxresults 5
              PaymentMethod-ReadAll:
                value: select * from paymentmethod startposition 1 maxresults 5
              Preference-ReadAll:
                value: 'select * from preferences '
              Purchase-ReadAll:
                value: select * from purchase startposition 1 maxresults 5
              PurchaseOrder-ReadAll:
                value: select * from purchaseorder startposition 1 maxresults 5
              RefundReceipt-ReadAll:
                value: select * from refundreceipt startposition 1 maxresults 5
              SalesrRceipt-ReadAll:
                value: select * from salesreceipt startposition 1 maxresults 5
              TaxAgency-ReadAll:
                value: select * from taxagency startposition 1 maxresults 5
              TaxCode-ReadAll:
                value: select * from taxcode startposition 1 maxresults 5
              TaxRate-ReadAll:
                value: select * from taxrate startposition 1 maxresults 5
              Term-ReadAll:
                value: select * from term startposition 1 maxresults 5
              TimeActivity-ReadAll:
                value: select * from timeactivity startposition 1 maxresults 5
              Transfer-ReadAll:
                value: select * from transfer startposition 1 maxresults 5
              Vendor-ReadAll:
                value: select * from vendor startposition 1 maxresults 5
              VendorCredit-ReadAll:
                value: select * from vendorcredit startposition 1 maxresults 5
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/attachable:
    post:
      tags:
        - Attachable
      summary: Attachable-Create
      description: |-
        Create an attachable object
        Conent-Type:application/json
        Method - POST
      operationId: attachableCreate
      parameters:
        - name: operation
          in: query
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachableRef:
                  type: array
                  items:
                    type: object
                    properties:
                      EntityRef:
                        type: object
                        properties:
                          type:
                            type: string
                            example: Invoice
                          value:
                            type: string
                            example: '130'
                      IncludeOnSend:
                        type: boolean
                        example: false
                  example:
                    - EntityRef:
                        type: Invoice
                        value: '130'
                      IncludeOnSend: false
                Id:
                  type: string
                  example: '5000000000000029383'
                MetaData:
                  type: object
                  properties:
                    CreateTime:
                      type: string
                      example: '2016-08-18T00:18:04-07:00'
                    LastUpdatedTime:
                      type: string
                      example: '2016-08-18T00:18:04-07:00'
                Note:
                  type: string
                  example: This is an attached note. Updated1
                SyncToken:
                  type: string
                  example: '2'
                domain:
                  type: string
                  example: QBO
                sparse:
                  type: boolean
                  example: false
            examples:
              Attachable-Create:
                value:
                  AttachableRef:
                    - EntityRef:
                        type: Invoice
                        value: '130'
                      IncludeOnSend: 'false'
                  Note: This is an attached note.
              Attachable-Delete:
                value:
                  AttachableRef:
                    - EntityRef:
                        type: Invoice
                        value: '130'
                      IncludeOnSend: false
                  Id: '5000000000000029383'
                  MetaData:
                    CreateTime: '2016-08-18T00:18:04-07:00'
                    LastUpdatedTime: '2016-08-18T00:18:04-07:00'
                  Note: This is an attached note. Updated1
                  SyncToken: '2'
                  domain: QBO
                  sparse: false
              Attachable-Update:
                value:
                  AttachableRef:
                    - EntityRef:
                        type: Invoice
                        value: '130'
                      IncludeOnSend: false
                  Id: '5000000000000029383'
                  MetaData:
                    CreateTime: '2016-08-18T00:18:04-07:00'
                    LastUpdatedTime: '2016-08-18T00:18:04-07:00'
                  Note: This is an attached note. Updated
                  SyncToken: '0'
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/attachable/{id}:
    get:
      tags:
        - Attachable
      summary: Attachable-ReadById
      description: |-
        Retrieve an attachable object by Id
        Accept:application/json
        Method - GET
      operationId: attachableReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/upload:
    post:
      tags:
        - Attachable
      summary: Upload-Attachments
      description: |-
        Uploading and linking new attachments

        https://developer.intuit.com/docs/0100_quickbooks_online/0200_dev_guides/accounting/attachments#Uploading_and_linking_new_attachments

        If the attachment is not in the Attachment list already, it's possible to upload it and link it to the object in one multipart operation.

        Operation:      POST https://quickbooks.api.intuit.com/v3/company/companyID/upload
        Content type: multipart/form-data

        Request body

        The following sample code shows the multipart request body for uploading a file and its supporting Attachable metatdata object, with the result of it being both added to the Attachment list and added to the object.

        The Attachable object accompanying this request supplies metadata and object information to which the attachment is linked. 
        Each part of the multipart request is separated by a boundary.  In the sample below, the string  --YOjcLaTlykb6OxfYJx4O07j1MweeMFem is used.  You can use any random and unique string.
        The file to be uploaded and its Attachable object are paired together via the name parameter in the part header for each one.
        The name parameter for the file part is of the form file_content_nn, where nn is a unique index number among the set of files being uploaded.
        The name parameter for the Attachable object is of the form file_metadata_nn, where nn corresponds to the file index number used with the content .
        The file or files are stored in the Attachment list with the name specified by the filename parameter.
        If the data supplied with the Attachable object cannot be validated, an error is returned and the file is not uploaded.
      operationId: uploadAttachments
      requestBody:
        content:
          text/plain:
            examples:
              Upload-Attachments:
                value: |-
                  --37a1965f87babd849241a530ad71e169
                  Content-Disposition: form-data; name="file_metadata_0"
                  Content-Type: application/json; charset=UTF-8
                  Content-Transfer-Encoding: 8bit

                  {
                      "AttachableRef": [
                      {
                        "EntityRef": {
                          "type": "Invoice",
                          "value": "173"
                        }
                      }
                    ],
                     "FileName": "receipt_nov15.jpg",
                      "ContentType": "image/jpg"
                    }
                  --37a1965f87babd849241a530ad71e169
                  Content-Disposition: form-data; name="file_content_0"; filename="398535758.jpg"
                  Content-Type: image/jpeg
                  Content-Transfer-Encoding: base64

                  /9j/4AAQSkZJRgABAQEAlgCWAAD/4ge4SUNDX1BST0ZJTEUAAQEAAAeoYXBwbAIgAABtbnRyUkdC
                  IFhZWiAH2QACABkACwAaAAthY3NwQVBQTAAAAABhcHBsAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAA
                  AADTLWFwcGwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtk
                  ZXNjAAABCAAAAG9kc2NtAAABeAAABWxjcHJ0AAAG5AAAADh3dHB0AAAHHAAAABRyWFlaAAAHMAAA
                  ABRnWFlaAAAHRAAAABRiWFlaAAAHWAAAABRyVFJDAAAHbAAAAA5jaGFkAAAHfAAAACxiVFJDAAAH
                  bAAAAA5nVFJDAAAHbAAAAA5kZXNjAAAAAAAAABRHZW5lcmljIFJHQiBQcm9maWxlAAAAAAAAAAAA
                  AAAUR2VuZXJpYyBSR0IgUHJvZmlsZQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                  AAAAAAAAAAAAAAAAAAAAbWx1YwAAAAAAAAAeAAAADHNrU0sAAAAoAAABeGhySFIAAAAoAAABoGNh
                  RVMAAAAkAAAByHB0QlIAAAAmAAAB7HVrVUEAAAAqAAACEmZyRlUAAAAoAAACPHpoVFcAAAAWAAAC
                  ZGl0SVQAAAAoAAACem5iTk8AAAAmAAAComtvS1IAAAAWAAACyGNzQ1oAAAAiAAAC3mhlSUwAAAAe
                  AAADAGRlREUAAAAsAAADHmh1SFUAAAAoAAADSnN2U0UAAAAmAAAConpoQ04AAAAWAAADcmphSlAA
                  AAAaAAADiHJvUk8AAAAkAAADomVsR1IAAAAiAAADxnB0UE8AAAAmAAAD6G5sTkwAAAAoAAAEDmVz
                  RVMAAAAmAAAD6HRoVEgAAAAkAAAENnRyVFIAAAAiAAAEWmZpRkkAAAAoAAAEfHBsUEwAAAAsAAAE
                  pHJ1UlUAAAAiAAAE0GFyRUcAAAAmAAAE8mVuVVMAAAAmAAAFGGRhREsAAAAuAAAFPgBWAWEAZQBv
                  AGIAZQBjAG4A/QAgAFIARwBCACAAcAByAG8AZgBpAGwARwBlAG4AZQByAGkBDQBrAGkAIABSAEcA
                  QgAgAHAAcgBvAGYAaQBsAFAAZQByAGYAaQBsACAAUgBHAEIAIABnAGUAbgDoAHIAaQBjAFAAZQBy
                  AGYAaQBsACAAUgBHAEIAIABHAGUAbgDpAHIAaQBjAG8EFwQwBDMEMAQ7BEwEPQQ4BDkAIAQ/BEAE
                  PgREBDAEOQQ7ACAAUgBHAEIAUAByAG8AZgBpAGwAIABnAOkAbgDpAHIAaQBxAHUAZQAgAFIAVgBC
                  kBp1KAAgAFIARwBCACCCcl9pY8+P8ABQAHIAbwBmAGkAbABvACAAUgBHAEIAIABnAGUAbgBlAHIA
                  aQBjAG8ARwBlAG4AZQByAGkAcwBrACAAUgBHAEIALQBwAHIAbwBmAGkAbMd8vBgAIABSAEcAQgAg
                  1QS4XNMMx3wATwBiAGUAYwBuAP0AIABSAEcAQgAgAHAAcgBvAGYAaQBsBeQF6AXVBeQF2QXcACAA
                  UgBHAEIAIAXbBdwF3AXZAEEAbABsAGcAZQBtAGUAaQBuAGUAcwAgAFIARwBCAC0AUAByAG8AZgBp
                  AGwAwQBsAHQAYQBsAOEAbgBvAHMAIABSAEcAQgAgAHAAcgBvAGYAaQBsZm6QGgAgAFIARwBCACBj
                  z4/wZYdO9k4AgiwAIABSAEcAQgAgMNcw7TDVMKEwpDDrAFAAcgBvAGYAaQBsACAAUgBHAEIAIABn
                  AGUAbgBlAHIAaQBjA5MDtQO9A7kDugPMACADwAPBA78DxgOvA7sAIABSAEcAQgBQAGUAcgBmAGkA
                  bAAgAFIARwBCACAAZwBlAG4A6QByAGkAYwBvAEEAbABnAGUAbQBlAGUAbgAgAFIARwBCAC0AcABy
                  AG8AZgBpAGUAbA5CDhsOIw5EDh8OJQ5MACAAUgBHAEIAIA4XDjEOSA4nDkQOGwBHAGUAbgBlAGwA
                  IABSAEcAQgAgAFAAcgBvAGYAaQBsAGkAWQBsAGUAaQBuAGUAbgAgAFIARwBCAC0AcAByAG8AZgBp
                  AGkAbABpAFUAbgBpAHcAZQByAHMAYQBsAG4AeQAgAHAAcgBvAGYAaQBsACAAUgBHAEIEHgQxBEkE
                  OAQ5ACAEPwRABD4ERAQ4BDsETAAgAFIARwBCBkUGRAZBACAGKgY5BjEGSgZBACAAUgBHAEIAIAYn
                  BkQGOQYnBkUARwBlAG4AZQByAGkAYwAgAFIARwBCACAAUAByAG8AZgBpAGwAZQBHAGUAbgBlAHIA
                  ZQBsACAAUgBHAEIALQBiAGUAcwBrAHIAaQB2AGUAbABzAGV0ZXh0AAAAAENvcHlyaWdodCAyMDA3
                  IEFwcGxlIEluYy4sIGFsbCByaWdodHMgcmVzZXJ2ZWQuAFhZWiAAAAAAAADzUgABAAAAARbPWFla
                  IAAAAAAAAHRNAAA97gAAA9BYWVogAAAAAAAAWnUAAKxzAAAXNFhZWiAAAAAAAAAoGgAAFZ8AALg2
                  Y3VydgAAAAAAAAABAc0AAHNmMzIAAAAAAAEMQgAABd7///MmAAAHkgAA/ZH///ui///9owAAA9wA
                  AMBs/+EAgEV4aWYAAE1NACoAAAAIAAUBEgADAAAAAQABAAABGgAFAAAAAQAAAEoBGwAFAAAAAQAA
                  AFIBKAADAAAAAQACAACHaQAEAAAAAQAAAFoAAAAAAAA6mQAAAGQAADqZAAAAZAACoAIABAAAAAEA
                  AAAuoAMABAAAAAEAAAAUAAAAAP/bAEMAAgEBAgEBAgIBAgICAgIDBQMDAwMDBgQEAwUHBgcHBwYG
                  BgcICwkHCAoIBgYJDQkKCwsMDAwHCQ0ODQwOCwwMC//bAEMBAgICAwIDBQMDBQsIBggLCwsLCwsL
                  CwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLC//AABEIABQALgMBIgAC
                  EQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAA
                  AX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4
                  OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaan
                  qKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQAD
                  AQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEG
                  EkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpT
                  VFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4
                  ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/APkb41eO
                  NYtfi94oSDVdRVF1a74FzJgfvn96j+Kmj+O/gj/wj3/C159Q0MeK9Et/EekmfU1IvdPuN/kzrtkO
                  0N5b/K2GGOQKzvjnz8YPFX/YVvP/AEc9fePiv9qXwn4K+Eut674A8S+Br3xl4e/Zd8MaZ4dF0LPU
                  HtvENte3TtbwwThla8h3RuYipI+UspFfueIryw6p8kOa+n5Ja62310Z+V4XDRxU5RlPl8z4O0S/8
                  YeJfB+t+IfD1xrN7oPhpbZtV1GG7ZrXTxczeRb+bJvwDLLlEAyWYHA4OK/hTxP4i8ceKdI0Xwrq9
                  1eanr13FY6fANS2fappZFjRVdnCgF2UFiQozkkDmv0r+KX7VPhO/8JftJaX8I/HPwu0qXxf4c8C+
                  JZIA1hDb63cpldfjtwI2WS7NvFGnkINyyMpXY7Fqq/GDUvhB4d+IXxP17TPHvwc1nTfiB8a/h/4o
                  0O10zVbW4lstChubNbxpoto+zxARztLHyAgZnADc8NPN5ydpUbXtbfqob6dOZ9vha8zu/smElpXX
                  W+3eW2vku+5+fXjvw38RPhlZm58eRa7ptp/a97oCXT3m+3nv7Jtt3BDKkhWUwtwzISgPG4mux/ZD
                  8Y6tefEO++06nqL7dOkxm6k4/exf7VfRX/BRD9oTTfiz+xBaaD8NPGfgK803wz8XvFf2nRLOWzjv
                  30+XU5pNKntIUQSPbeU+8yxkKUK7i+AB8x/sc/8AJQ7/AP7Bz/8Ao2KuqlWnicLOdSKTu1b0em/d
                  anFVpRw+IjCnK60d/X0O/wDil+zfoWofE7xJNcXOqb31W7JxJHj/AF7/APTOsH/hmPw//wA/Gqf9
                  /I//AI3RRXRTk+VamM4rmegv/DMfh/H/AB8ap/38j/8AjdB/Zj8Pn/l41Trn/WR9f+/dFFVzPuRZ
                  XEP7Mfh89bjVOP8AppFx/wCQ69I/Zf8A2d9F0z4hXP2S61Qb9Olzl4z0lh/6Z+9FFY4mT9lLU1oJ
                  c6P/2Q==

                  --37a1965f87babd849241a530ad71e169--
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/batch:
    post:
      tags:
        - Batch
      summary: Batch
      description: |-
        Multiple operations using batch query
        Content-Type:application/json
        Method - POST
      operationId: batch
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                BatchItemRequest:
                  type: array
                  items:
                    type: object
                    properties:
                      Invoice:
                        type: object
                        properties:
                          Id:
                            type: string
                            example: '129'
                          SyncToken:
                            type: string
                            example: '0'
                      Query:
                        type: string
                        example: select * from SalesReceipt
                      SalesReceipt:
                        type: object
                        properties:
                          Id:
                            type: string
                            example: '11'
                          PrivateNote:
                            type: string
                            example: A private note.
                          SyncToken:
                            type: string
                            example: '0'
                          domain:
                            type: string
                            example: QBO
                          sparse:
                            type: boolean
                            example: true
                      Vendor:
                        type: object
                        properties:
                          DisplayName:
                            type: string
                            example: Smith Family Store
                      bId:
                        type: string
                        example: bid1
                      operation:
                        type: string
                        example: create
                  example:
                    - Vendor:
                        DisplayName: Smith Family Store
                      bId: bid1
                      operation: create
                    - Invoice:
                        Id: '129'
                        SyncToken: '0'
                      bId: bid2
                      operation: delete
                    - SalesReceipt:
                        Id: '11'
                        PrivateNote: A private note.
                        SyncToken: '0'
                        domain: QBO
                        sparse: true
                      bId: bid3
                      operation: update
                    - Query: select * from SalesReceipt
                      bId: bid4
            examples:
              Batch:
                value:
                  BatchItemRequest:
                    - Vendor:
                        DisplayName: Smith Family Store
                      bId: bid1
                      operation: create
                    - Invoice:
                        Id: '129'
                        SyncToken: '0'
                      bId: bid2
                      operation: delete
                    - SalesReceipt:
                        Id: '11'
                        PrivateNote: A private note.
                        SyncToken: '0'
                        domain: QBO
                        sparse: true
                      bId: bid3
                      operation: update
                    - Query: select * from SalesReceipt
                      bId: bid4
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/bill:
    post:
      tags:
        - Bill
      summary: Bill-Create
      description: |-
        Create a bill
        Content-Type:application/json
        Method - POST
      operationId: billCreate
      parameters:
        - name: operation
          in: query
          required: false
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '149'
                SyncToken:
                  type: string
                  example: '0'
            examples:
              Bill-Create:
                value:
                  Line:
                    - AccountBasedExpenseLineDetail:
                        AccountRef:
                          value: '7'
                      Amount: 200
                      DetailType: AccountBasedExpenseLineDetail
                      Id: '1'
                  VendorRef:
                    value: '56'
              Bill-Delete:
                value:
                  Id: '149'
                  SyncToken: '0'
              Bill-Update:
                value:
                  Line:
                    - AccountBasedExpenseLineDetail:
                        AccountRef:
                          value: '7'
                      Amount: 240.67
                      DetailType: AccountBasedExpenseLineDetail
                      Id: '1'
                  VendorRef:
                    value: '56'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/bill/{id}:
    get:
      tags:
        - Bill
      summary: Bill-GetById
      description: |-
        Retrieve a bill by Id
        Accept:application/json
        Method - GET
      operationId: billGetbyid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/billpayment:
    post:
      tags:
        - BillPayment
      summary: BillPayment-Create
      description: |-
        Create a BillPayment against a pre-created bill
        Content-Type:application/json
        Method - POST
      operationId: billpaymentCreate
      parameters:
        - name: operation
          in: query
          required: false
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                CheckPayment:
                  type: object
                  properties:
                    BankAccountRef:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Checking
                        value:
                          type: string
                          example: '35'
                Line:
                  type: array
                  items:
                    type: object
                    properties:
                      Amount:
                        type: number
                        example: 100
                      LinkedTxn:
                        type: array
                        items:
                          type: object
                          properties:
                            TxnId:
                              type: string
                              example: '153'
                            TxnType:
                              type: string
                              example: Bill
                        example:
                          - TxnId: '153'
                            TxnType: Bill
                  example:
                    - Amount: 100
                      LinkedTxn:
                        - TxnId: '153'
                          TxnType: Bill
                PayType:
                  type: string
                  example: Check
                PrivateNote:
                  type: string
                  example: Updated Note
                TotalAmt:
                  type: number
                  example: 100
                VendorRef:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Test
                    value:
                      type: string
                      example: '62'
            examples:
              BillPayment-Create:
                value:
                  CheckPayment:
                    BankAccountRef:
                      name: Checking
                      value: '35'
                  Line:
                    - Amount: 100
                      LinkedTxn:
                        - TxnId: '153'
                          TxnType: Bill
                  PayType: Check
                  PrivateNote: Acct. 1JK90
                  TotalAmt: 100
                  VendorRef:
                    name: Test
                    value: '62'
              BillPayment-Delete:
                value:
                  Id: '154'
                  SyncToken: '0'
              BillPayment-Update:
                value:
                  CheckPayment:
                    BankAccountRef:
                      name: Checking
                      value: '35'
                  Line:
                    - Amount: 100
                      LinkedTxn:
                        - TxnId: '153'
                          TxnType: Bill
                  PayType: Check
                  PrivateNote: Updated Note
                  TotalAmt: 100
                  VendorRef:
                    name: Test
                    value: '62'
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/billpayment/{id}:
    get:
      tags:
        - BillPayment
      summary: BillPayment-ReadById
      description: |-
        Retrieve BillPayment by Id
        Method - GET
      operationId: billpaymentReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/cdc:
    get:
      tags:
        - ChangeDataCapture
      summary: CDC-Read
      description: |-
        Retrive changed Bill and invoice objects since Aug10,2016
        Method - GET
      operationId: cdcRead
      parameters:
        - name: entities
          in: query
          schema:
            type: string
            example: bill,invoice
        - name: changedSince
          in: query
          schema:
            type: string
            example: '2016-08-10'
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/class:
    post:
      tags:
        - Class
      summary: Class-Create
      description: |-
        Create a Class object
        Method - POST
      operationId: classCreate
      parameters:
        - name: operation
          required: false
          in: query
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '5000000000000018727'
                SyncToken:
                  type: string
                  example: '1'
            examples:
              Class-Create:
                value:
                  Name: France
              Class-Delete:
                value:
                  Id: '5000000000000018727'
                  SyncToken: '1'
              Class-Update:
                value:
                  Active: true
                  FullyQualifiedName: France
                  Id: '5000000000000018727'
                  Name: France-I
                  SubClass: false
                  SyncToken: '0'
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/class/{id}:
    get:
      tags:
        - Class
      summary: Class-ReadById
      description: |-
        Read a Class object by Id
        Method - GET
      operationId: classReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/companyinfo/{companyID}:
    get:
      tags:
        - CompanyInfo
      summary: CompanyInfo-ReadById
      description: 'Method : GET'
      operationId: companyinfoReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: companyID
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/creditmemo:
    post:
      tags:
        - CreditMemo
      summary: CreditMemo-Create
      description: |-
        Create a credit memo
        Method : POST
      operationId: creditmemoCreate
      parameters:
        - name: operation
          required: false
          in: query
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '160'
                SyncToken:
                  type: string
                  example: '2'
            examples:
              CreditMemo-Create:
                value:
                  CustomerRef:
                    name: CoolCars
                    value: '3'
                  Line:
                    - Amount: 50
                      DetailType: SalesItemLineDetail
                      SalesItemLineDetail:
                        ItemRef:
                          name: Concrete
                          value: '3'
              CreditMemo-Delete:
                value:
                  Id: '160'
                  SyncToken: '2'
              CreditMemo-Update:
                value:
                  ApplyTaxAfterDiscount: false
                  Balance: 50
                  BillAddr:
                    City: Half Moon Bay
                    CountrySubDivisionCode: CA
                    Id: '4'
                    Lat: '37.4300318'
                    Line1: 65 Ocean Dr.
                    Long: '-122.4336537'
                    PostalCode: '94213'
                  CurrencyRef:
                    name: United States Dollar
                    value: USD
                  CustomField:
                    - DefinitionId: '1'
                      Name: 'Crew #'
                      Type: StringType
                  CustomerRef:
                    name: Cool Cars
                    value: '3'
                  DocNumber: 1040-Updated
                  EmailStatus: NotSet
                  ExchangeRate: 1
                  HomeTotalAmt: 50
                  Id: '160'
                  Line:
                    - Amount: 50
                      DetailType: SalesItemLineDetail
                      Id: '1'
                      LineNum: 1
                      SalesItemLineDetail:
                        ItemRef:
                          name: Concrete
                          value: '3'
                        TaxCodeRef:
                          value: NON
                    - Amount: 50
                      DetailType: SubTotalLineDetail
                      SubTotalLineDetail: { }
                  MetaData:
                    CreateTime: '2016-08-18T13:09:52-07:00'
                    LastUpdatedTime: '2016-08-18T13:09:52-07:00'
                  PrintStatus: NeedToPrint
                  RemainingCredit: 50
                  ShipAddr:
                    City: Half Moon Bay
                    CountrySubDivisionCode: CA
                    Id: '4'
                    Lat: '37.4300318'
                    Line1: 65 Ocean Dr.
                    Long: '-122.4336537'
                    PostalCode: '94213'
                  SyncToken: '0'
                  TotalAmt: 50
                  TxnDate: '2016-08-18'
                  TxnTaxDetail:
                    TotalTax: 0
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/creditmemo/{id}:
    get:
      tags:
        - CreditMemo
      summary: CreditMemo-ReadById
      description: |-
        Read a credit memo by Id
        Method : GET
      operationId: creditmemoReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/customer:
    post:
      tags:
        - Customer
      summary: Customer-Create
      description: |-
        Create a customer
        Method : POST
      operationId: customerCreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                DisplayName:
                  type: string
                  example: King's Groceries1
                Suffix:
                  type: string
                  example: Jr.
                Title:
                  type: string
                  example: Mr.
                MiddleName:
                  type: string
                  example: B
                FamilyName:
                  type: string
                  example: Drew
                GivenName:
                  type: string
                  example: John
                PrimaryEmailAddr:
                  type: object
                  properties:
                    Address:
                      type: string
                      example:
                Notes:
                  type: string
                  example: Here are other details.
                PrimaryPhone:
                  type: object
                  properties:
                    FreeFormNumber:
                      type: string
                      example: (555) 555-5555
                BillAddr:
                  type: object
                  properties:
                    Line1:
                      type: string
                      example: 123 Main Street
                    City:
                      type: string
                      example: Mountain View
                    Country:
                      type: string
                      example: USA
                    CountrySubDivisionCode:
                      type: string
                      example: CA
                    PostalCode:
                      type: string
                      example: '94042'
            examples:
              Customer-Create:
                value:
                  BillAddr:
                    City: Mountain View
                    Country: USA
                    CountrySubDivisionCode: CA
                    Line1: 123 Main Street
                    PostalCode: '94042'
                  DisplayName: King's Groceries1
                  Notes: Here are other details.
                  PrimaryEmailAddr:
                    Address: jdrew@myemail.com
                  PrimaryPhone:
                    FreeFormNumber: (555) 555-5555
              Customer-Delete:
                value:
                  Active: false
                  Id: '67'
                  SyncToken: '0'
                  domain: QBO
                  sparse: true
              Customer-Update:
                value:
                  Active: true
                  Balance: 0
                  BalanceWithJobs: 0
                  BillAddr:
                    City: Mountain View
                    Country: USA
                    CountrySubDivisionCode: CA
                    Id: '100'
                    Line1: 123 Main Street
                    PostalCode: '94042'
                  BillWithParent: false
                  CurrencyRef:
                    name: United States Dollar
                    value: USD
                  DefaultTaxCodeRef:
                    value: '2'
                  DisplayName: King's Groceries-Updated
                  FullyQualifiedName: King's Groceries-Updated
                  Id: '63'
                  Job: false
                  Notes: Here are other details.
                  PreferredDeliveryMethod: Print
                  PrimaryEmailAddr:
                    Address: jdrew@myemail.com
                  PrimaryPhone:
                    FreeFormNumber: (555) 555-5555
                  PrintOnCheckName: King's Groceries1
                  SyncToken: '2'
                  Taxable: true
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/customer/{id}:
    get:
      tags:
        - Customer
      summary: Customer-ReadById
      description: |-
        Read a customer entry by Id
        Method : GET
      operationId: customerReadbyid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/department:
    post:
      tags:
        - Department
      summary: Department-Create
      description: |-
        Create a department object
        Method : POST
      operationId: departmentCreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Active:
                  type: boolean
                  example: false
                FullyQualifiedName:
                  type: string
                  example: Marketing Department
                Id:
                  type: string
                  example: '1'
                Name:
                  type: string
                  example: Marketing Department-Updated
                SubDepartment:
                  type: boolean
                  example: false
                SyncToken:
                  type: string
                  example: '2'
                domain:
                  type: string
                  example: QBO
                sparse:
                  type: boolean
                  example: false
            examples:
              Department-Create:
                value:
                  Name: Marketing Department
              Department-Delete:
                value:
                  Active: false
                  FullyQualifiedName: Marketing Department
                  Id: '1'
                  Name: Marketing Department-Updated
                  SubDepartment: false
                  SyncToken: '2'
                  domain: QBO
                  sparse: false
              Department-Update:
                value:
                  Active: true
                  FullyQualifiedName: Marketing Department
                  Id: '1'
                  Name: Marketing Department-Updated
                  SubDepartment: false
                  SyncToken: '0'
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/department/{id}:
    get:
      tags:
        - Department
      summary: Department-ReadById
      description: |-
        Read a department object
        Method : GET
      operationId: departmentReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/deposit:
    post:
      tags:
        - Deposit
      summary: Deposit-Create
      description: |-
        Create a deposit object
        Method : POST
      operationId: depositCreate
      parameters:
        - name: operation
          in: query
          required: false
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '162'
                SyncToken:
                  type: string
                  example: '1'
            examples:
              Deposit-Create:
                value:
                  DepositToAccountRef:
                    name: Checking
                    value: '35'
                  Line:
                    - Amount: 20
                      DepositLineDetail:
                        AccountRef:
                          name: Unapplied Cash Payment Income
                          value: '87'
                      DetailType: DepositLineDetail
              Deposit-Delete:
                value:
                  Id: '162'
                  SyncToken: '1'
              Deposit-Update:
                value:
                  CurrencyRef:
                    name: United States Dollar
                    value: USD
                  DepositToAccountRef:
                    name: Checking
                    value: '35'
                  ExchangeRate: 1
                  Id: '162'
                  Line:
                    - Amount: 205
                      DepositLineDetail:
                        AccountRef:
                          name: Unapplied Cash Payment Income
                          value: '87'
                      DetailType: DepositLineDetail
                      Id: '1'
                      LineNum: 1
                  SyncToken: '0'
                  TotalAmt: 205
                  TxnDate: '2016-08-18'
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/deposit/{id}:
    get:
      tags:
        - Deposit
      summary: Deposit-ReadById
      description: |-
        Read a deposit object by Id
        Method : POST
      operationId: depositReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/employee:
    post:
      tags:
        - Employee
      summary: Employee-Create
      description: |+
        Create an employee object
        Method : POST

      operationId: employeeCreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Active:
                  type: boolean
                  example: false
                BillableTime:
                  type: boolean
                  example: false
                DisplayName:
                  type: string
                  example: John Meuller - Updated
                FamilyName:
                  type: string
                  example: Meuller
                GivenName:
                  type: string
                  example: John
                Id:
                  type: string
                  example: '68'
                MetaData:
                  type: object
                  properties:
                    CreateTime:
                      type: string
                      example: '2016-08-18T16:04:16-07:00'
                    LastUpdatedTime:
                      type: string
                      example: '2016-08-18T16:04:16-07:00'
                PrimaryAddr:
                  type: object
                  properties:
                    City:
                      type: string
                      example: Middlefield
                    CountrySubDivisionCode:
                      type: string
                      example: CA
                    Id:
                      type: string
                      example: '105'
                    Line1:
                      type: string
                      example: 45 N. Elm Street
                    PostalCode:
                      type: string
                      example: '93242'
                PrimaryPhone:
                  type: object
                  properties:
                    FreeFormNumber:
                      type: string
                      example: 408-525-1234
                PrintOnCheckName:
                  type: string
                  example: John Meuller
                SSN:
                  type: string
                  example: XXX-XX-XXXX
                SyncToken:
                  type: string
                  example: '2'
                domain:
                  type: string
                  example: QBO
                sparse:
                  type: boolean
                  example: false
            examples:
              Employee-Create:
                value:
                  FamilyName: Meuller
                  GivenName: John
                  PrimaryAddr:
                    City: Middlefield
                    CountrySubDivisionCode: CA
                    Id: '50'
                    Line1: 45 N. Elm Street
                    PostalCode: '93242'
                  PrimaryPhone:
                    FreeFormNumber: 408-525-1234
                  SSN: 444-55-6666
              Employee-Delete:
                value:
                  Active: false
                  BillableTime: false
                  DisplayName: John Meuller - Updated
                  FamilyName: Meuller
                  GivenName: John
                  Id: '68'
                  MetaData:
                    CreateTime: '2016-08-18T16:04:16-07:00'
                    LastUpdatedTime: '2016-08-18T16:04:16-07:00'
                  PrimaryAddr:
                    City: Middlefield
                    CountrySubDivisionCode: CA
                    Id: '105'
                    Line1: 45 N. Elm Street
                    PostalCode: '93242'
                  PrimaryPhone:
                    FreeFormNumber: 408-525-1234
                  PrintOnCheckName: John Meuller
                  SSN: XXX-XX-XXXX
                  SyncToken: '2'
                  domain: QBO
                  sparse: false
              Employee-Update:
                value:
                  Active: true
                  BillableTime: false
                  DisplayName: John Meuller - Updated
                  FamilyName: Meuller
                  GivenName: John
                  Id: '68'
                  MetaData:
                    CreateTime: '2016-08-18T16:04:16-07:00'
                    LastUpdatedTime: '2016-08-18T16:04:16-07:00'
                  PrimaryAddr:
                    City: Middlefield
                    CountrySubDivisionCode: CA
                    Id: '105'
                    Line1: 45 N. Elm Street
                    PostalCode: '93242'
                  PrimaryPhone:
                    FreeFormNumber: 408-525-1234
                  PrintOnCheckName: John Meuller
                  SSN: XXX-XX-XXXX
                  SyncToken: '0'
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/employee/{id}:
    get:
      tags:
        - Employee
      summary: Employee-ReadById
      description: |+
        Retrive an employee object by ID
        Method : GET

      operationId: employeeReadbyid
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/estimate:
    post:
      tags:
        - Estimate
      summary: Estimate-Create
      description: |
        Create an Estimate object
        Method : POST
      operationId: estimateCreate
      parameters:
        - name: operation
          required: false
          in: query
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '163'
                SyncToken:
                  type: string
                  example: '1'
            examples:
              Estimate-Create:
                value:
                  ApplyTaxAfterDiscount: false
                  BillEmail:
                    Address: Cool_Cars@intuit.com
                  CustomerMemo:
                    value: Thank you for your business and have a great day!
                  CustomerRef:
                    name: Cool Cars
                    value: '3'
                  EmailStatus: NotSet
                  Line:
                    - Amount: 35
                      Description: Pest Control Services
                      DetailType: SalesItemLineDetail
                      Id: '1'
                      LineNum: 1
                      SalesItemLineDetail:
                        ItemRef:
                          name: Pest Control
                          value: '10'
                        Qty: 1
                        TaxCodeRef:
                          value: NON
                        UnitPrice: 35
                    - Amount: 35
                      DetailType: SubTotalLineDetail
                      SubTotalLineDetail: { }
                    - Amount: 3.5
                      DetailType: DiscountLineDetail
                      DiscountLineDetail:
                        DiscountAccountRef:
                          name: Discounts given
                          value: '86'
                        DiscountPercent: 10
                        PercentBased: true
                  PrintStatus: NeedToPrint
                  TotalAmt: 31.5
                  TxnTaxDetail:
                    TotalTax: 0
              Estimate-Delete:
                value:
                  Id: '163'
                  SyncToken: '1'
              Estimate-Update:
                value:
                  ApplyTaxAfterDiscount: false
                  BillAddr:
                    City: Half Moon Bay
                    CountrySubDivisionCode: CA
                    Id: '4'
                    Lat: '37.4300318'
                    Line1: 65 Ocean Dr.
                    Long: '-122.4336537'
                    PostalCode: '94213'
                  BillEmail:
                    Address: Cool_Cars@intuit.com
                  CurrencyRef:
                    name: United States Dollar
                    value: USD
                  CustomField:
                    - DefinitionId: '1'
                      Name: 'Crew #'
                      Type: StringType
                  CustomerMemo:
                    value: Thank you for your business and have a great day!
                  CustomerRef:
                    name: Cool Cars
                    value: '3'
                  DocNumber: 1001-Updated
                  EmailStatus: NotSet
                  ExchangeRate: 1
                  HomeTotalAmt: 31.5
                  Id: '163'
                  Line:
                    - Amount: 35
                      Description: Pest Control Services
                      DetailType: SalesItemLineDetail
                      Id: '1'
                      LineNum: 1
                      SalesItemLineDetail:
                        ItemRef:
                          name: Pest Control
                          value: '10'
                        Qty: 1
                        TaxCodeRef:
                          value: NON
                        UnitPrice: 35
                    - Amount: 35
                      DetailType: SubTotalLineDetail
                      SubTotalLineDetail: { }
                    - Amount: 3.5
                      DetailType: DiscountLineDetail
                      DiscountLineDetail:
                        DiscountAccountRef:
                          name: Discounts given
                          value: '86'
                        DiscountPercent: 10
                        PercentBased: true
                  PrintStatus: NeedToPrint
                  ShipAddr:
                    City: Half Moon Bay
                    CountrySubDivisionCode: CA
                    Id: '4'
                    Lat: '37.4300318'
                    Line1: 65 Ocean Dr.
                    Long: '-122.4336537'
                    PostalCode: '94213'
                  SyncToken: '0'
                  TotalAmt: 31.5
                  TxnDate: '2016-08-18'
                  TxnStatus: Pending
                  TxnTaxDetail:
                    TotalTax: 0
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/estimate/{estimateId}:
    get:
      tags:
        - Estimate
      summary: Estimate-ReadById
      description: |
        Read an Estimate object by Id
        Method : POST
      operationId: estimateReadbyid
      parameters:
        - name: estimateId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/exchangerate:
    get:
      tags:
        - ExchangeRate
      summary: ExchangeRate - GetDetails
      description: |
        Get ExchangeRate
        Method : GET
      operationId: exchangerateGetdetails
      parameters:
        - name: sourcecurrencycode
          in: query
          schema:
            type: string
            example: USD
        - name: asofdate
          in: query
          schema:
            type: string
            example: '2017-04-25'
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/invoice:
    post:
      tags:
        - Invoice
      summary: Invoice-Create
      description: |
        Create an invoice object
        Method : POST
      operationId: invoiceCreate
      parameters:
        - name: operation
          required: false
          in: query
          schema:
            type: string
            example: delete
        - name: minorversion
          in: query
          schema:
            type: string
            example: '1'
            default: "73"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/invoice/{invoiceId}:
    get:
      tags:
        - Invoice
      summary: Invoice-ReadById
      description: |
        Read an invoice object by Id
      operationId: invoiceReadbyid
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/item:
    post:
      tags:
        - Item
      summary: Item-Create
      description: |
        Create an item object
        Method : POST
      operationId: itemCreate
      parameters:
        - name: minorversion
          in: query
          schema:
            type: string
            example: '1'
            default: "73"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Item'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/item/{id}:
    get:
      tags:
        - Item
      summary: Item-ReadById
      description: |
        Read an Item by Id
        Method : GET
      operationId: itemReadbyid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/journalentry:
    post:
      tags:
        - JournalEntry
      summary: JournalEntry-Create
      description: |
        Create an journalentry object
        Method : POST
      operationId: journalentryCreate
      parameters:
        - name: operation
          required: false
          in: query
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '167'
                SyncToken:
                  type: string
                  example: '0'
            examples:
              JournalEntry-Create:
                value:
                  Line:
                    - Amount: 100
                      Description: nov portion of rider insurance
                      DetailType: JournalEntryLineDetail
                      Id: '0'
                      JournalEntryLineDetail:
                        AccountRef:
                          name: Opening Bal Equity
                          value: '39'
                        PostingType: Debit
                    - Amount: 100
                      Description: nov portion of rider insurance
                      DetailType: JournalEntryLineDetail
                      JournalEntryLineDetail:
                        AccountRef:
                          name: Notes Payable
                          value: '44'
                        PostingType: Credit
              JournalEntry-Delete:
                value:
                  Id: '167'
                  SyncToken: '0'
              JournalEntry-Update:
                value:
                  Adjustment: false
                  CurrencyRef:
                    name: United States Dollar
                    value: USD
                  ExchangeRate: 1
                  Id: '167'
                  Line:
                    - Amount: 100
                      Description: nov portion of rider insurance-updated
                      DetailType: JournalEntryLineDetail
                      Id: '0'
                      JournalEntryLineDetail:
                        AccountRef:
                          name: Truck:Depreciation
                          value: '39'
                        PostingType: Debit
                    - Amount: 100
                      Description: nov portion of rider insurance-updated
                      DetailType: JournalEntryLineDetail
                      Id: '1'
                      JournalEntryLineDetail:
                        AccountRef:
                          name: Notes Payable
                          value: '44'
                        PostingType: Credit
                  SyncToken: '0'
                  TxnDate: '2016-08-19'
                  TxnTaxDetail: { }
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/journalentry/{id}:
    get:
      tags:
        - JournalEntry
      summary: JournalEntry-ReadById
      description: |
        Read an journalentry object by Id
        Method : POST
      operationId: journalentryReadbyid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalEntry'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/payment:
    post:
      tags:
        - Payment
      summary: Payment-Create
      description: |
        Create an payment object
        Method : POST
      operationId: paymentCreate
      parameters:
        - name: operation
          required: false
          in: query
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '174'
                SyncToken:
                  type: string
                  example: '1'
            examples:
              Payment-Create:
                value:
                  CustomerRef:
                    name: TEST123
                    value: '58'
                  Line:
                    - Amount: 100
                      LinkedTxn:
                        - TxnId: '173'
                          TxnType: Invoice
                  TotalAmt: 100
              Payment-Delete:
                value:
                  Id: '174'
                  SyncToken: '1'
              Payment-Update:
                value:
                  CurrencyRef:
                    name: United States Dollar
                    value: USD
                  CustomerRef:
                    name: TEST123
                    value: '58'
                  DepositToAccountRef:
                    value: '4'
                  ExchangeRate: 1
                  Id: '174'
                  Line:
                    - Amount: 100
                      LineEx:
                        any:
                          - declaredType: com.intuit.schema.finance.v3.NameValue
                            globalScope: true
                            name: '{http://schema.intuit.com/finance/v3}NameValue'
                            nil: false
                            scope: javax.xml.bind.JAXBElement$GlobalScope
                            typeSubstituted: false
                            value:
                              Name: txnId
                              Value: '173'
                          - declaredType: com.intuit.schema.finance.v3.NameValue
                            globalScope: true
                            name: '{http://schema.intuit.com/finance/v3}NameValue'
                            nil: false
                            scope: javax.xml.bind.JAXBElement$GlobalScope
                            typeSubstituted: false
                            value:
                              Name: txnOpenBalance
                              Value: '100.00'
                          - declaredType: com.intuit.schema.finance.v3.NameValue
                            globalScope: true
                            name: '{http://schema.intuit.com/finance/v3}NameValue'
                            nil: false
                            scope: javax.xml.bind.JAXBElement$GlobalScope
                            typeSubstituted: false
                            value:
                              Name: txnReferenceNumber
                              Value: '1043'
                      LinkedTxn:
                        - TxnId: '173'
                          TxnType: Invoice
                  ProcessPayment: false
                  SyncToken: '0'
                  TotalAmt: 100
                  TxnDate: '2016-08-29'
                  UnappliedAmt: 0
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/payment/{id}:
    get:
      tags:
        - Payment
      summary: Payment-ReadByID
      description: |
        Read a payment object by Id
        Method : GET
      operationId: paymentReadbyid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/paymentmethod:
    post:
      tags:
        - PaymentMethod
      summary: PaymentMethod-Create
      description: |
        Create a payment method
        Method : POST
      operationId: paymentmethodCreate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Active:
                  type: boolean
                  example: false
                Id:
                  type: string
                  example: '8'
                MetaData:
                  type: object
                  properties:
                    CreateTime:
                      type: string
                      example: '2016-08-23T20:09:50-07:00'
                    LastUpdatedTime:
                      type: string
                      example: '2016-08-23T20:09:50-07:00'
                Name:
                  type: string
                  example: Business Check-Updated
                SyncToken:
                  type: string
                  example: '0'
                Type:
                  type: string
                  example: NON_CREDIT_CARD
                domain:
                  type: string
                  example: QBO
                sparse:
                  type: boolean
                  example: false
            examples:
              PaymentMethod-Create:
                value:
                  Name: Business Check
              PaymentMethod-Delete:
                value:
                  Active: false
                  Id: '8'
                  MetaData:
                    CreateTime: '2016-08-23T20:09:50-07:00'
                    LastUpdatedTime: '2016-08-23T20:09:50-07:00'
                  Name: Business Check-Updated
                  SyncToken: '0'
                  Type: NON_CREDIT_CARD
                  domain: QBO
                  sparse: false
              PaymentMethod-Update:
                value:
                  Active: true
                  Id: '8'
                  MetaData:
                    CreateTime: '2016-08-23T20:09:50-07:00'
                    LastUpdatedTime: '2016-08-23T20:09:50-07:00'
                  Name: Business Check-Updated
                  SyncToken: '0'
                  Type: NON_CREDIT_CARD
                  domain: QBO
                  sparse: false
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/paymentmethod/{id}:
    get:
      tags:
        - PaymentMethod
      summary: PaymentMethod-ReadById
      description: |
        Read a payment method
        Method : GET
      operationId: paymentmethodReadbyid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/preferences:
    get:
      tags:
        - Preferences
      summary: Preference-Read
      description: |
        Read the preference object
        Method : POST
      operationId: preferenceRead
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  Preferences:
                    $ref: '#/components/schemas/Preferences'
    post:
      tags:
        - Preferences
      summary: Preference-Update
      description: |
        Update the preference object endpoint
        Method : POST
      operationId: preferenceUpdate
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                AccountingInfoPrefs:
                  type: object
                  properties:
                    ClassTrackingPerTxn:
                      type: boolean
                      example: false
                    ClassTrackingPerTxnLine:
                      type: boolean
                      example: true
                    CustomerTerminology:
                      type: string
                      example: Customers
                    DepartmentTerminology:
                      type: string
                      example: Location
                    TrackDepartments:
                      type: boolean
                      example: true
                CurrencyPrefs:
                  type: object
                  properties:
                    HomeCurrency:
                      type: object
                      properties:
                        value:
                          type: string
                          example: USD
                    MultiCurrencyEnabled:
                      type: boolean
                      example: true
                EmailMessagesPrefs:
                  type: object
                  properties:
                    EstimateMessage:
                      type: object
                      properties:
                        Message:
                          type: string
                          example: |-
                            Please review the estimate below.  Feel free to contact us if you have any questions.
                            We look forward to working with you.

                            Sincerely,
                            Craig's Design and Landscaping Services
                        Subject:
                          type: string
                          example: Estimate from Craig's Design and Landscaping Services
                    InvoiceMessage:
                      type: object
                      properties:
                        Message:
                          type: string
                          example: |-
                            Your invoice is attached.  Please remit payment at your earliest convenience.
                            Thank you for your business - we appreciate it very much.

                            Sincerely,
                            Craig's Design and Landscaping Services
                        Subject:
                          type: string
                          example: Invoice from Craig's Design and Landscaping Services
                    SalesReceiptMessage:
                      type: object
                      properties:
                        Message:
                          type: string
                          example: |-
                            Your sales receipt is attached.
                            Thank you for your business - we appreciate it very much.

                            Sincerely,
                            Craig's Design and Landscaping Services
                        Subject:
                          type: string
                          example: Sales Receipt from Craig's Design and Landscaping Services
                    StatementMessage:
                      type: object
                      properties:
                        Message:
                          type: string
                          example: |-
                            Your statement is attached.  Please remit payment at your earliest convenience.
                            Thank you for your business - we appreciate it very much.

                            Sincerely,
                            Craig's Design and Landscaping Services
                        Subject:
                          type: string
                          example: Statement from Craig's Design and Landscaping Services
                Id:
                  type: string
                  example: '1'
                MetaData:
                  type: object
                  properties:
                    CreateTime:
                      type: string
                      example: '2016-01-13T01:07:08-08:00'
                    LastUpdatedTime:
                      type: string
                      example: '2016-08-23T20:12:45-07:00'
                OtherPrefs:
                  type: object
                  properties:
                    NameValue:
                      type: array
                      items:
                        type: object
                        properties:
                          Name:
                            type: string
                            example: SalesFormsPrefs.DefaultCustomerMessage
                          Value:
                            type: string
                            example: Thank you for your business and have a great day!
                      example:
                        - Name: SalesFormsPrefs.DefaultCustomerMessage
                          Value: Thank you for your business and have a great day!
                        - Name: SalesFormsPrefs.DefaultItem
                          Value: '1'
                        - Name: DTXCopyMemo
                          Value: 'false'
                        - Name: UncategorizedAssetAccountId
                          Value: '32'
                        - Name: UncategorizedIncomeAccountId
                          Value: '30'
                        - Name: UncategorizedExpenseAccountId
                          Value: '31'
                        - Name: MasAccountId
                          Value: '35'
                        - Name: SFCEnabled
                          Value: 'true'
                ProductAndServicesPrefs:
                  type: object
                  properties:
                    ForPurchase:
                      type: boolean
                      example: true
                    ForSales:
                      type: boolean
                      example: true
                    QuantityOnHand:
                      type: boolean
                      example: true
                    QuantityWithPriceAndRate:
                      type: boolean
                      example: true
                ReportPrefs:
                  type: object
                  properties:
                    CalcAgingReportFromTxnDate:
                      type: boolean
                      example: false
                    ReportBasis:
                      type: string
                      example: Accrual
                SalesFormsPrefs:
                  type: object
                  properties:
                    AllowDeposit:
                      type: boolean
                      example: true
                    AllowDiscount:
                      type: boolean
                      example: true
                    AllowEstimates:
                      type: boolean
                      example: true
                    AllowServiceDate:
                      type: boolean
                      example: false
                    AllowShipping:
                      type: boolean
                      example: false
                    CustomField:
                      type: array
                      items:
                        type: object
                        properties:
                          CustomField:
                            type: array
                            items:
                              type: object
                              properties:
                                BooleanValue:
                                  type: boolean
                                  example: false
                                Name:
                                  type: string
                                  example: SalesFormsPrefs.UseSalesCustom3
                                Type:
                                  type: string
                                  example: BooleanType
                            example:
                              - BooleanValue: false
                                Name: SalesFormsPrefs.UseSalesCustom3
                                Type: BooleanType
                              - BooleanValue: false
                                Name: SalesFormsPrefs.UseSalesCustom2
                                Type: BooleanType
                              - BooleanValue: true
                                Name: SalesFormsPrefs.UseSalesCustom1
                                Type: BooleanType
                      example:
                        - CustomField:
                            - BooleanValue: false
                              Name: SalesFormsPrefs.UseSalesCustom3
                              Type: BooleanType
                            - BooleanValue: false
                              Name: SalesFormsPrefs.UseSalesCustom2
                              Type: BooleanType
                            - BooleanValue: true
                              Name: SalesFormsPrefs.UseSalesCustom1
                              Type: BooleanType
                        - CustomField:
                            - Name: SalesFormsPrefs.SalesCustomName1
                              StringValue: 'Crew #'
                              Type: StringType
                    CustomTxnNumbers:
                      type: boolean
                      example: false
                    DefaultCustomerMessage:
                      type: string
                      example: Thank you for your business and have a great day!
                    DefaultDiscountAccount:
                      type: string
                      example: '86'
                    DefaultTerms:
                      type: object
                      properties:
                        value:
                          type: string
                          example: '3'
                    ETransactionAttachPDF:
                      type: boolean
                      example: false
                    ETransactionEnabledStatus:
                      type: string
                      example: NotApplicable
                    ETransactionPaymentEnabled:
                      type: boolean
                      example: false
                    IPNSupportEnabled:
                      type: boolean
                      example: false
                SyncToken:
                  type: string
                  example: '4'
                TaxPrefs:
                  type: object
                  properties:
                    TaxGroupCodeRef:
                      type: object
                      properties:
                        value:
                          type: string
                          example: '2'
                    UsingSalesTax:
                      type: boolean
                      example: true
                TimeTrackingPrefs:
                  type: object
                  properties:
                    BillCustomers:
                      type: boolean
                      example: true
                    MarkTimeEntriesBillable:
                      type: boolean
                      example: true
                    ShowBillRateToAll:
                      type: boolean
                      example: false
                    UseServices:
                      type: boolean
                      example: true
                    WorkWeekStartDate:
                      type: string
                      example: Monday
                VendorAndPurchasesPrefs:
                  type: object
                  properties:
                    BillableExpenseTracking:
                      type: boolean
                      example: true
                    POCustomField:
                      type: array
                      items:
                        type: object
                        properties:
                          CustomField:
                            type: array
                            items:
                              type: object
                              properties:
                                BooleanValue:
                                  type: boolean
                                  example: false
                                Name:
                                  type: string
                                  example: PurchasePrefs.UsePurchaseCustom3
                                Type:
                                  type: string
                                  example: BooleanType
                            example:
                              - BooleanValue: false
                                Name: PurchasePrefs.UsePurchaseCustom3
                                Type: BooleanType
                              - BooleanValue: true
                                Name: PurchasePrefs.UsePurchaseCustom2
                                Type: BooleanType
                              - BooleanValue: true
                                Name: PurchasePrefs.UsePurchaseCustom1
                                Type: BooleanType
                      example:
                        - CustomField:
                            - BooleanValue: false
                              Name: PurchasePrefs.UsePurchaseCustom3
                              Type: BooleanType
                            - BooleanValue: true
                              Name: PurchasePrefs.UsePurchaseCustom2
                              Type: BooleanType
                            - BooleanValue: true
                              Name: PurchasePrefs.UsePurchaseCustom1
                              Type: BooleanType
                        - CustomField:
                            - Name: PurchasePrefs.PurchaseCustomName2
                              StringValue: Sales Rep
                              Type: StringType
                            - Name: PurchasePrefs.PurchaseCustomName1
                              StringValue: 'Crew #'
                              Type: StringType
                    TrackingByCustomer:
                      type: boolean
                      example: true
                domain:
                  type: string
                  example: QBO
                sparse:
                  type: boolean
                  example: false
            examples:
              Preference-Update:
                value:
                  AccountingInfoPrefs:
                    ClassTrackingPerTxn: false
                    ClassTrackingPerTxnLine: true
                    CustomerTerminology: Customers
                    DepartmentTerminology: Location
                    TrackDepartments: true
                  CurrencyPrefs:
                    HomeCurrency:
                      value: USD
                    MultiCurrencyEnabled: true
                  EmailMessagesPrefs:
                    EstimateMessage:
                      Message: |-
                        Please review the estimate below.  Feel free to contact us if you have any questions.
                        We look forward to working with you.

                        Sincerely,
                        Craig's Design and Landscaping Services
                      Subject: Estimate from Craig's Design and Landscaping Services
                    InvoiceMessage:
                      Message: |-
                        Your invoice is attached.  Please remit payment at your earliest convenience.
                        Thank you for your business - we appreciate it very much.

                        Sincerely,
                        Craig's Design and Landscaping Services
                      Subject: Invoice from Craig's Design and Landscaping Services
                    SalesReceiptMessage:
                      Message: |-
                        Your sales receipt is attached.
                        Thank you for your business - we appreciate it very much.

                        Sincerely,
                        Craig's Design and Landscaping Services
                      Subject: Sales Receipt from Craig's Design and Landscaping Services
                    StatementMessage:
                      Message: |-
                        Your statement is attached.  Please remit payment at your earliest convenience.
                        Thank you for your business - we appreciate it very much.

                        Sincerely,
                        Craig's Design and Landscaping Services
                      Subject: Statement from Craig's Design and Landscaping Services
                  Id: '1'
                  MetaData:
                    CreateTime: '2016-01-13T01:07:08-08:00'
                    LastUpdatedTime: '2016-08-23T20:12:45-07:00'
                  OtherPrefs:
                    NameValue:
                      - Name: SalesFormsPrefs.DefaultCustomerMessage
                        Value: Thank you for your business and have a great day!
                      - Name: SalesFormsPrefs.DefaultItem
                        Value: '1'
                      - Name: DTXCopyMemo
                        Value: 'false'
                      - Name: UncategorizedAssetAccountId
                        Value: '32'
                      - Name: UncategorizedIncomeAccountId
                        Value: '30'
                      - Name: UncategorizedExpenseAccountId
                        Value: '31'
                      - Name: MasAccountId
                        Value: '35'
                      - Name: SFCEnabled
                        Value: 'true'
                  ProductAndServicesPrefs:
                    ForPurchase: true
                    ForSales: true
                    QuantityOnHand: true
                    QuantityWithPriceAndRate: true
                  ReportPrefs:
                    CalcAgingReportFromTxnDate: false
                    ReportBasis: Accrual
                  SalesFormsPrefs:
                    AllowDeposit: true
                    AllowDiscount: true
                    AllowEstimates: true
                    AllowServiceDate: false
                    AllowShipping: false
                    CustomField:
                      - CustomField:
                          - BooleanValue: false
                            Name: SalesFormsPrefs.UseSalesCustom3
                            Type: BooleanType
                          - BooleanValue: false
                            Name: SalesFormsPrefs.UseSalesCustom2
                            Type: BooleanType
                          - BooleanValue: true
                            Name: SalesFormsPrefs.UseSalesCustom1
                            Type: BooleanType
                      - CustomField:
                          - Name: SalesFormsPrefs.SalesCustomName1
                            StringValue: 'Crew #'
                            Type: StringType
                    CustomTxnNumbers: false
                    DefaultCustomerMessage: Thank you for your business and have a great day!
                    DefaultDiscountAccount: '86'
                    DefaultTerms:
                      value: '3'
                    ETransactionAttachPDF: false
                    ETransactionEnabledStatus: NotApplicable
                    ETransactionPaymentEnabled: false
                    IPNSupportEnabled: false
                  SyncToken: '4'
                  TaxPrefs:
                    TaxGroupCodeRef:
                      value: '2'
                    UsingSalesTax: true
                  TimeTrackingPrefs:
                    BillCustomers: true
                    MarkTimeEntriesBillable: true
                    ShowBillRateToAll: false
                    UseServices: true
                    WorkWeekStartDate: Monday
                  VendorAndPurchasesPrefs:
                    BillableExpenseTracking: true
                    POCustomField:
                      - CustomField:
                          - BooleanValue: false
                            Name: PurchasePrefs.UsePurchaseCustom3
                            Type: BooleanType
                          - BooleanValue: true
                            Name: PurchasePrefs.UsePurchaseCustom2
                            Type: BooleanType
                          - BooleanValue: true
                            Name: PurchasePrefs.UsePurchaseCustom1
                            Type: BooleanType
                      - CustomField:
                          - Name: PurchasePrefs.PurchaseCustomName2
                            StringValue: Sales Rep
                            Type: StringType
                          - Name: PurchasePrefs.PurchaseCustomName1
                            StringValue: 'Crew #'
                            Type: StringType
                    TrackingByCustomer: true
                  domain: QBO
                  sparse: false
      deprecated: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Preferences'
    parameters:
      - name: companyid
        in: path
        required: true
        schema:
          type: string
  /v3/company/{companyid}/purchase:
    post:
      tags:
        - Purchase
      summary: Purchase-Create
      description: |
        Create a puchase object
        Method : POST
      operationId: purchaseCreate
      parameters:
        - name: operation
          required: false
          in: query
          schema:
            type: string
            example: delete
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Id:
                  type: string
                  example: '175'
                SyncToken:
                  type: string
                  example: '1'
            examples:
              Purchase-Create:
                value:
                  AccountRef:
                    name: Visa
                    value: '42'
                  Line:
                    - AccountBasedExpenseLineDetail:
                        AccountRef:
                          name: Meals and Entertainment
                          value: '13'
[...]
